 .shift{
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  gap: 20px;
}
 body{
  background: #F5EDF0;
 }
 .logo{
  height: 40px;
  width: 60px;
  border-radius: 10px;
  padding-left: 30px;
 }
.header{
  color: #3D2C2E;
  text-align: center;
}
 .chat-input {
  width: 98%;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 10px;

}
.form-list{
  width: 95%;
  margin: 0 auto;
}


.chat {
  display: flex;
  align-items: center;
  background-color: #886F68;
  color: #F5EDF0;
  padding: 5px;
  border-radius: 10px;
  flex-wrap: wrap;
}

.input-box {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.send-btn {
  background-color: #424C55;
  border: none;
  padding: 2px 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.send-btn:hover {
  background-color: #3D2C2E;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5px;
  gap: 10px;
  padding: 0 10px;
  width: 98%;
  margin: 5px auto;
}

.action-button {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}
.action-button-select{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 10px;
  margin: 5px 0;
}
.language-select {
  background: #424C55;
  border-radius: 10px;
  color: #F5EDF0;
}

.language-select, .translate-btn, .summarize-btn {
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}

.translate-btn {
  background-color: #886F68;
  color: white;
  border: none;
  border-radius: 5px;
}

.summarize-btn {
  background-color: #3D2C2E;
  color: white;
  border: none;
  border-radius: 5px;
}

.translate-btn:hover {
  background-color: #3D2C2E;
}

.summarize-btn:hover {
  background-color: #886F68;
}
.visually-hidden{
  color: #F5EDF0;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
}
.visually-hidden-button{
  color: #886F68;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}





/* chat message area */
.chat-message{
  background: #D1CCDC;
  margin: 0 auto;
  width: 95%;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.chat-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  padding: 10px;
 
}

.message-section {
  text-align: center;
}
.message-sum{
  text-align: center;
  padding: 0 25px;
  padding-bottom: 25px;
  color: #3D2C2E;
}

.message-section h1 {
  font-size: 20px;
  color: #3D2C2E;
  margin-bottom: 10px;
}

.chat-box {
  background: #F5EDF0;
  padding: 5px;
  border-radius: 8px;
  min-height: 300px;
  min-width: 400px;
  border: 1px solid #3D2C2E;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.ri-arrow-left-right-line{
  color: #3D2C2E;
  font-size: 18px;
  font-weight: bolder;
}
.ri-arrow-up-down-fill{
  display: none;
  color: #3D2C2E;
  font-size: 18px;
}

.translation {
  background: #F5EDF0;
  padding: 1rem;
  height: auto;
  text-align: left;
  line-height: 1.5;
  overflow: auto;
}

.message-box {
  border: none;
  border-left: 4px solid #424C55;
}
.summary-box{
  border: none;
  border-left: 4px solid #3D2C2E;
}
.translation-box {
  border: none;
  border-left: 4px solid #886F68;
}

.detected-language {
  font-size: 14px;
  color: #3D2C2E;
  margin-top: 5px;
  font-style: italic;
}
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}


/* Responsive Styles */
@media (max-width: 912px) {
  .form-list{
    width: 98%;
    margin: 0 auto;
  }
  .chat-box{
    min-height: 400px;
    min-width: 600px;
  }
  .chat-message-container{
    flex-direction: column;
    gap: 15px;
    padding: 25px;
  }
  .ri-arrow-up-down-fill{
    display: block;
  }
  .ri-arrow-left-right-line{
    display: none;
  }
}

@media (max-width: 540px) {
  .shift{
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }
  .chat-box{
    min-height: 200px;
    min-width: 300px;
  }
  .action-buttons{
    padding: 0;
    gap: 2px;
    width: 100%;
  }
  .language-select, .translate-btn, .summarize-btn{
    padding: 5px;
  }
  .logo{
    padding-left: 5px;
  }
 
}
